skills/aws-serverless/assets/templates/step-function-workflow.json
{
  "Comment": "Order processing workflow — Standard state machine with retry, catch, parallel validation, and human approval",
  "StartAt": "ValidateOrder",
  "States": {
    "ValidateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:ValidateOrder",
      "Comment": "Replace REGION and ACCOUNT; or use !GetAtt ValidateFunction.Arn in SAM/CloudFormation",
      "Parameters": {
        "orderId.$": "$.orderId",
        "userId.$": "$.userId",
        "amount.$": "$.amount"
      },
      "ResultPath": "$.validation",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["ValidationError"],
          "Next": "OrderRejected",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "RequiresApproval"
    },
    "RequiresApproval": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.amount",
          "NumericGreaterThan": 1000,
          "Next": "RequestApproval"
        }
      ],
      "Default": "ParallelFulfillment"
    },
    "RequestApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Comment": "Sends task token to approval queue; waits up to 24h for human to approve/reject",
      "Parameters": {
        "QueueUrl": "https://sqs.REGION.amazonaws.com/ACCOUNT/approval-queue",
        "MessageBody": {
          "orderId.$": "$.orderId",
          "amount.$": "$.amount",
          "taskToken.$": "$$.Task.Token"
        }
      },
      "HeartbeatSeconds": 86400,
      "Catch": [
        {
          "ErrorEquals": ["ApprovalRejected"],
          "Next": "OrderRejected",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": ["States.HeartbeatTimeout"],
          "Next": "ApprovalTimedOut",
          "ResultPath": "$.error"
        }
      ],
      "Next": "ParallelFulfillment"
    },
    "ParallelFulfillment": {
      "Type": "Parallel",
      "Comment": "Process inventory and payment in parallel",
      "Branches": [
        {
          "StartAt": "ReserveInventory",
          "States": {
            "ReserveInventory": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:ReserveInventory",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.TooManyRequestsException"],
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ]
            }
          }
        },
        {
          "StartAt": "ChargePayment",
          "States": {
            "ChargePayment": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:ChargePayment",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.TooManyRequestsException"],
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ]
            }
          }
        }
      ],
      "ResultPath": "$.fulfillment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "NotifyCustomer"
    },
    "NotifyCustomer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:REGION:ACCOUNT:order-notifications",
        "Message.$": "States.Format('Order {} confirmed', $.orderId)"
      },
      "Next": "OrderComplete"
    },
    "OrderComplete": {
      "Type": "Succeed"
    },
    "OrderRejected": {
      "Type": "Fail",
      "Error": "ORDER_REJECTED",
      "Cause": "Order failed validation or approval"
    },
    "ApprovalTimedOut": {
      "Type": "Fail",
      "Error": "APPROVAL_TIMEOUT",
      "Cause": "No approval received within 24 hours"
    },
    "HandleFailure": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:HandleOrderFailure",
      "Parameters": {
        "orderId.$": "$.orderId",
        "error.$": "$.error"
      },
      "Next": "OrderFailed"
    },
    "OrderFailed": {
      "Type": "Fail",
      "Error": "ORDER_FAILED",
      "Cause": "Unrecoverable error during order processing"
    }
  }
}
